@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-color: #6d5dae;
}

main {
  max-width: 730px;
  margin: 5rem auto;
}

.logo-img {
  margin-bottom: 0.5rem;
  width: 16%;
}

.container {
  /* border: 2px solid #f2f8ff; */
  background-color: #f2f8ff69;
  border-radius: 0.5rem;
  margin: 0 auto;
  text-align: center;
  padding: 2.5rem;
  -webkit-box-shadow: 14px 10px 9px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 14px 10px 9px -2px rgba(0, 0, 0, 0.27);
  box-shadow: 14px 10px 9px -2px rgba(0, 0, 0, 0.27);
}

.inputBox {
  width: 100%;
  height: 2rem;
  border-radius: 0.3rem;
  border: none;
  margin-top: 0.5rem;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.inputBox:active {
  border: none;
}

input:focus {
  outline: none;
}

button {
  margin-top: 0.5rem;
  width: 100%;
  height: 2rem;
  background-color: #6d5dae;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.message {
  color: #e81a1a;
  font-size: 1rem;
  display: none;
}

.todo {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid #d8f3fd;
  border-radius: 0.3rem;
  margin-top: 1rem;
  -webkit-box-shadow: 0px 7px 9px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 7px 9px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 7px 9px 1px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo > ul > li > p {
  color: #363b5b;
}

.text-todo {
  margin-right: auto;
}

.checkbox {
  margin-right: 0.5rem;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
}

.deleteBtn {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}
